.underline::after {
  content: "";
  position: absolute;
  bottom: 11px;
  left: 10%;
  height: 1px;
  width: 80%;
  background: #444;
  background: linear-gradient(to left, transparent 0%, #444 50%, transparent 100%);
}
